@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

*{
  margin: 0;
  padding: 0;
  margin-top: 0px;
  list-style: none;
  text-decoration: none;
  font-family: 'Josefin Sans', sans-serif;
}

.wrapper {
	width: 100%;
	background: #cf0024;
	display: flex;
	justify-content: space-between;
	padding: 10px 25px;
	color: #ffffff;
}

.wrapper .left{
	display: flex;
	align-items: center;
	height: 50px;
	text-align: right;
  }.wrapper .left a{color: #ffffff;}

.wrapper .right{
  display: flex;
  align-items: center;
  height: 50px;
  text-align: right;
}.wrapper .right img{margin: 0 10px;}.wrapper .right span{font-size: 10px;}



*{box-sizing:border-box;}

form{
	width:320px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	margin-top:80px;
	background-color:#ccc;
}

form label{
	width:73px;
	font-weight:bold;
	display:inline-block;
}

input[type=number]{
	width:180px;
	padding:7px 10px;
	border:1px solid #f6f6f6;
	border-radius:10px;
	background-color:#f6f6f6;
	margin:8px 0;
	margin-left: 20px;
	display:inline-block;
}

form input[type="text"]{
	width:180px;
	padding:3px 10px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	margin-left: 20px;
	display:inline-block;
}

label[for="proyect"]{
	margin-top:8px;
}

select {
    display: inline-block;
	width: 180px;
	height: 20px;
	margin-left: 20px;
}

form input[type="submit"]{
	width:98%;
	padding:8px 16px;
	margin-top:28px;
	border:1px solid rgb(0, 0, 0);
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:rgb(5, 50, 10);
} 

form input[type="submit"]:hover{
	cursor:pointer;
}
