{% extends 'base.html' %}
{% load static %}

{% block content1 %}
{% if user.is_authenticated %}    
<div class="wrapper">
    <div class="left">
        <a href="{% url 'logout' %}">
            <i class="fas fa-home"></i>
        </a>
    </div>
    <div class="right">
        <p>{{name}} {{lastname}}<br><span>{{email}}<br>{{ user.username }}</span></p>
        <object data="{% static '/images/templates/IEB-0.png' %}">
            <img src="{% static '/images/templates/IEB-0.png' %}">
        </object>
    </div>
</div>
{% else %}
<div id="container" name=interface>
    <img src="{% static '/images/templates/IEB-1.png' %}" name="logo_ieb" width="52">
    <h3 name="login">¿Quieres Ingresar?</h3>
    <form action="{% url 'login' %}" name="bk">
        <button>INGRESAR</button>
    </form>
</div>
{% endif %} 
{% endblock %}