{% extends 'head.html' %}
{% load static %}

{% block content2 %}
  {% if user.is_authenticated %}
    <div id="container" name=interface>
      {% if error_message %}
          <h3 name="error_message">{{ error_message }}</h3>
          <h6 name="help_message">{{ help_message }}</h6>
          <button type="button" name="bk" onclick="history.back()">ACEPTAR</button>
      {% else %}
      <form action="work" target="_self" method="get" name="config">
        <label for="current">Corriente:</label>
        <input type="number" name="current" id="current" min="0" step="0.01" placeholder="Amperios (A)"/><br>
        <label for="voltage">Tensión:</label>
        <input type="number" name="voltage" id="voltage" min="0" step="0.01" placeholder="Voltios (V)"/><br>
        <label for="instalation">Instalación:</label>
        <input type="text" name="instalation" id="instalation"/><br>

        <label for="material">Material:</label>
        <select name="material" id="material">
          {% for material in list_material %}
            <option value={{material}}>{{material}}</option>
          {% endfor %}
        </select>
        
        <label for="proyect">NmProy:</label>
        <select name="nmproy" id="nmproy" required>
          {% for nmproy in list_nmproy %}
            <option value={{nmproy}}>{{nmproy}}</option>
          {% endfor %}
        </select>

        <input type="hidden" name="list_user_proy" value="{{list_user_proy}}">
          <input type="submit" name="rn" value="CALCULAR"/>
        </form>
        <form action="{% url 'login' %}" name="back">
          <button>SALIR</button>
        </form>
      {% endif %}
    </div>
  {% endif %} 
{% endblock %}
