{% extends 'head.html' %}
{% load static %}

{% block content2 %}
  {% if user.is_authenticated %}
    <div id="container" name=interface>
      <form action="work" target="_self" method="get" name="config" onsubmit="return ValidateForm()">
        <label for="current">Corriente:</label>
        <input type="number" name="current" id="current" placeholder="Amperios (A)"/><br>
        <label for="voltage">Tensión:</label>
        <input type="number" name="voltage" id="voltage" placeholder="Voltios (V)"/><br>
        <label for="instalation">Instalación:</label>
        <input type="text" name="instalation" id="instalation"/><br>

        <label for="material">Material:</label>
        <select name="material" id="material">
          {% for material in list_material %}
            <option value={{material}}>{{material}}</option>
          {% endfor %}
        </select>
        
        <label for="proyect">NmProy:</label>
        <select name="nmproy" id="nmproy" required>
          {% for nmproy in list_nmproy %}
            <option value={{nmproy}}>{{nmproy}}</option>
          {% endfor %}
        </select>
        <input type="submit" name="rn" value="CALCULAR"/>
      </form>
      <form action="{% url 'login' %}" name="back">
        <button>SALIR</button>
      </form>
    </div>
  {% endif %} 
{% endblock %}
